html { 
    background: url(/home/shaashwatlobnikki/Desktop/Resume/images/background4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }

